<div class="container">
    <span class="row">
      <h5 class="brand-logo left">Event!</h5>
    </span>
  <!-- 'Reading' Card -->
  <div class="row">
    <div class="card col s12">
      <div class="card-content ">
        <div class="card-title">
          Title
        </div>
        <p>text</p>
        <div *ngIf="svgRegion">
          <svg [attr.height]="svgRegion.height" [attr.width]="svgRegion.width">
            <rect [attr.x]="svgRegion.xOffset"
                  [attr.y]="svgRegion.yOffset"
                  [attr.width]="svgRegion.widthDisplay"
                  [attr.height]="svgRegion.heightDisplay"
                  style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />

            <g *ngFor="let dot of dots" app-grid-item
               [params]="dot"
               (dotSelected)="dotSelected($event)">
            </g>

            <g *ngFor="let circle of circles" app-circle-item
               [params]="circle">
            </g>

            


          </svg>
        </div>

      </div>
      <div class="card-action">
        <button class="btn btn-flat" (click)="addCircle()">Add Circle</button>
        <button class="btn btn-flat" (click)="clearDotsForFit()">Clear All</button>
      </div>
    </div>
  </div>
</div>
