<div class="container">
  <!--
    <span class="row">
      <h5 class="brand-logo left">Event!</h5>
    </span>
    -->
  <!-- 'Reading' Card -->
  <div class="row">
    <div class="card col s12">
      <div class="card-content ">
        <div class="card-title">
          <div *ngIf="event">
            <div [innerHTML]="event.name">
            </div>
          </div>
          <div *ngIf="!event">
            No Process Selected
          </div>
        </div>

        <div *ngIf="boundaries && dots">
          <svg [attr.height]="boundaries.height" [attr.width]="boundaries.width">
            <rect [attr.x]="boundaries.xminPx"
                  [attr.y]="boundaries.ymaxPx"
                  [attr.width]="boundaries.widthDisplay"
                  [attr.height]="boundaries.heightDisplay"
                  style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />

            <g *ngFor="let dot of dots" app-grid-item
               [params]="dot"
               (dotSelected)="dotSelected($event)">
            </g>

            <g *ngFor="let circle of circles" app-circle-item
               [params]="circle">
            </g>

            <g *ngIf="event" app-event
                [event]="event"
                [dots]="dots">
            </g>

          </svg>
        </div>

      </div>
      <div class="card-action">
        <button class="btn" (click)="fetchNewEvent()">New Event!</button>
        <button class="btn btn-flat" (click)="addCircle()">Add Circle</button>
        <button class="btn btn-flat" (click)="clearDotsForFit()">Clear All</button>
      </div>
    </div>
  </div>
</div>
