<div class="container">
  <!--
    <span class="row">
      <h5 class="brand-logo left">Event!</h5>
    </span>
    -->
  <!-- 'Reading' Card -->
  <div class="row">
    <div class="card col s12">
      <div class="card-content ">
        <div class="card-title">
          <div *ngIf="event">
            <div [innerHTML]="event.name">
            </div>
          </div>
          <div *ngIf="!event">
            No Process Selected
          </div>
        </div>

        <div class="row">
          <div class ="col s8">
            <div *ngIf="boundaries && dots">
              <svg [attr.height]="boundaries.height" [attr.width]="boundaries.width">
                <rect [attr.x]="boundaries.xminPx"
                      [attr.y]="boundaries.ymaxPx"
                      [attr.width]="boundaries.widthDisplay"
                      [attr.height]="boundaries.heightDisplay"
                      style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />

                <g *ngFor="let dot of dots" app-grid-item
                   [colourModeOn]="colourModeOn"
                   [params]="dot"
                   (dotSelected)="dotSelected($event)"
                   (dotDeselected)="dotDeselected($event)">
                </g>

                <g *ngFor="let circle of circles" app-circle-item
                   [params]="circle">
                </g>

                <g *ngIf="eventDisplay && ((!editModeOn)||revealEvent)" app-event
                    [eventDisplay]="eventDisplay"
                    [dots]="dots">
                </g>

                <g *ngIf="eventDisplay && editModeOn && showAxes" app-axis
                   [boundaries]="boundaries"
                   [interactionLocation]="interactionLocation">
                </g>

              </svg>
            </div>
          </div>
          <div class ="col s4">
            <div *ngIf="momentumDiagramBoundaries && eventDisplay && editModeOn && showAxes" class="row">
              <div class="col s12">
                <svg [attr.height]="momentumDiagramBoundaries.height" [attr.width]="momentumDiagramBoundaries.width">
                  <rect [attr.x]="momentumDiagramBoundaries.xminPx"
                        [attr.y]="momentumDiagramBoundaries.ymaxPx"
                        [attr.width]="momentumDiagramBoundaries.widthDisplay"
                        [attr.height]="momentumDiagramBoundaries.heightDisplay"
                        style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />

                  <g *ngIf="eventDisplay && editModeOn && showAxes" app-momentum-axis
                     [boundaries]="momentumDiagramBoundaries"
                     [circles]="circles"
                     [wakeUp]="circleChange">
                  </g>

                </svg>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <app-circle-table
                  [circles]="circles">
                </app-circle-table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-action">
        <div *ngIf="!editModeOn">
          <button class="btn" (click)="fetchNewEvent()">Get Event</button>
          <button *ngIf="event" class="btn" (click)="turnOnEditMode()">Analyze This Event</button>
        </div>
        <div *ngIf="editModeOn">
          <button class="btn btn-flat" (click)="addCircle()">Add Circle</button>
          <button
            class="btn btn-flat"
            (mouseenter)="showEvent()"
            (mouseout)="hideEvent()">
            Show Event
          </button>

          <!-- Switch -->
          <span class="switch">
            <label>
              Deselect
              <input type="checkbox" [(ngModel)]="colourModeOn">
              <span class="lever"></span>
              Select
            </label>
          </span>

        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn" (click)="fetchEventTypes()">Get Event Types</button>
