<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Particle Tracks</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="currentUser">
          +{{currentUser}}
      </li>
      <li>
        <a *ngIf="isLoggedIn()"
           (click)="logout()">
          <i class="material-icons">power_settings_new</i>
        </a>
      </li>
      <li>
        <a *ngIf="!isLoggedIn()"
           [routerLink]="['/login']">
          <i class="material-icons">perm_identity</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal Trigger
<a materialize="leanModal" [materializeParams]="[{dismissible: false}]" class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
<!-- Modal Structure
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
-->

<router-outlet></router-outlet>



