<div *ngIf="circles.length > 0">
  <div *ngFor="let circle of circles; let i=index">
    <div class = "row">
      <div class="card col s12" (mouseenter)="highlightCircle(i)" (mouseleave)="unhighlightCircle(i)">
        <div class="card-content">
          <a (click)="deleteCircle(i)">
            <i class="material-icons right">close</i>
          </a>
          <a (click)="circleInfo(i)">
            <i class="material-icons right">info</i>
          </a>
          <p> r = {{circle.r | roundReal : 4}} cm</p>
          <p> rotn:
            <span *ngIf="circle.CW"> CW</span>
            <span *ngIf="!circle.CW"> CCW</span>
            <a (click)="toggleRotationDirection(i)">
              <i class="material-icons">edit</i>
            </a>
          </p>
          <p> in/out:
            <span *ngIf="circle.incoming"> incoming</span>
            <span *ngIf="!circle.incoming"> outgoing</span>
            <a (click)="toggleIncomingOutgoing(i)">
              <i class="material-icons">edit</i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

